<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795500353977-4kj1qcuh4dqd9soqj685pieuvglp781q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795500353977-4kj1qcuh4dqd9soqj685pieuvglp781q</string>
	<key>API_KEY</key>
	<string>AIzaSyA8xNBSVIa8AdcbaQDOKHip3XnlVd2oMvU</string>
	<key>GCM_SENDER_ID</key>
	<string>795500353977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.ratchasak.startupNamer</string>
	<key>PROJECT_ID</key>
	<string>startupnamer-62281</string>
	<key>STORAGE_BUCKET</key>
	<string>startupnamer-62281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795500353977:ios:19213ddcff8c546755be68</string>
	<key>DATABASE_URL</key>
	<string>https://startupnamer-62281.firebaseio.com</string>
</dict>
</plist>